* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: hsl(0, 0%, 90%);
}

#navbar {
  margin: 0;
  padding: 14px 16px;
  background-color: white;
}

#headline {
  background-color: white;
}

#tab1 {
  border: 14px solid white;
  height: 100%;
  background-color: white;
  border-radius: 0 0 0 50px ;
}
